<section id="add">
  
</section>
 
<% @requests.each do |request| %>
  <article <%= 'class="complete"' if request.complete %>>
    <p>
      <%=h request.mobile_number%>
      <span><a href="/<%= request.id %>">[confrim][decline]</a></span>
    </p>
    <p class="links">
      <a href="/<%= request.id %>/complete">&#8623;</a>
    </p>
    <p class="meta">Created: <%= request.created_at %></p>
  </article>
<% end %>


