<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%= @title + ' | USSD ' %></title>
  <link href="/reset.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/">USSD Requests</a></h1>
    </hgroup>
  </header>
 
  <div id="main">
    <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %>
<% end %>
 
<% if flash[:error] %>
    <p class="error"><%= flash[:error] %>
<% end %>
    <%= yield %>
  </div>
 
  <footer>
    <p><small>An app for <a href="http://appsNmobileSolutions.com">appsNmobile Solutions</a>.</small></p>
  </footer>
</body>
</html>